:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fdf6e3;
    --entry: #eee8d5;
    --primary: #586e75;
    --secondary: #93a1a1;
    --tertiary: #eee8d5;
    --content: #657b83;
    --hljs-bg: #fdf6e3;
    --code-bg: #f5f5f5;
    --cyan: #2aa198;
    --blue: #268bd2;
    --red: #dc322f;
    --yellow: #b58900;
    --orange: #cb4b16;
    --magenta: #d33682;
    --violet: #6c71c4;
    --green: #859900;
    --border: #eee8d5;

}

@media screen and (max-width:600px) {
    :root {
        --gap: 14px
    }
}

.dark {
    --theme: #002b36;
    --entry: #073642;
    --primary: #839496;
    --secondary: #586e75;
    --tertiary: #073642;
    --content: #839496;
    --hljs-bg: #002b36;
    --code-bg: #37383e;
    --border: #073642;
}

.list {
    background: var(--theme)
}

/* .dark.list {
    background: var(--theme)
} */
